<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container valign-wrapper">
    <a id="logo-container" href="#" class="brand-logo"></a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a href="/">
          <i class="fas fa-home"></i> Home</a>
      </li>
      
      <% if(req.session.userId) { %>
        <li>
          <a href="/dashboard">
            <i class="fas fa-tachometer-alt"></i> Dashboard</a>
        </li>
        <li>
          <a href="/logout">
            <i class="fas fa-sign-out-alt"> </i>Logout</a>
        </li>
        <li>
          <img id="profile-picture" class="circle">
        </li>
        <% } else { %>
          <li>
              <a href="/login">
                <img src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_01.png"> 
              </a>
            </li>
          <% } %>
    </ul>

    <!-- <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
  </div>
</nav>


<script>
  $(document).ready(function () {

    $.get('/api/user/', (data, status, xhr) => {
      $('#profile-picture').attr('src', data.avatar);
    })

  })

</script>


<style>
  #profile-picture {
    width: 25%;
  }
</style>