<body>
  <div class="container white-text" >

    <div class="row">
      <div class="col s4">
        <h1 >Dashboard</h1>
      </div>
      <div class="col s4">
        <a href="https://discordapp.com/api/oauth2/authorize?client_id=441593020442345499&permissions=18432&scope=bot" class="btn-large waves-effect waves-light blue">
          <i class="fab fa-discord"></i> Add bot to server</a>
      </div>
      <div class="col s4">

        <a href="/login/discord" class="btn-large waves-effect waves-light blue">
          <i class="fab fa-discord"></i> Link profile</a>

      </div>

    </div>

    <div class="row">
      <h2>Tracked accounts</h2>
      <table id="table-trackedaccounts"></table>
    </div>



  </div>
</body>


<script>

  $(document).ready(() => {

    $.get('/api/user/trackedaccount', (data, status, xhr) => {

      $('#table-trackedaccounts').bootstrapTable({
        columns: [{
          field: 'steamId',
          title: 'Steam ID'
        }, {
          field: 'vacBanned',
          title: 'VAC'
        }, {
          field: 'numberOfGameBans',
          title: 'Game bans'
        }],
        data: data
      });
    })
  })

</script>