<body>
  <div class="container white-text" >

    <div class="row">
      <div class="col s4">
        <h1 >Dashboard</h1>
      </div>
      <div class="col s4">
        <a href="/setup" class="btn-large waves-effect waves-light blue">
          <i class="fas fa-cogs"></i> Settings</a>
      </div>
      <div class="col s4">

        <a href="#" id="test-dm-btn" class="btn-large waves-effect waves-light blue">
          <i class="fas fa-comment"></i> Test DM</a>

      </div>

    </div>

    <div class="row">
      <h2>Tracked accounts</h2>
      <table id="table-trackedaccounts"></table>
    </div>



  </div>
</body>


<script>

  $(document).ready(() => {

    $.get('/api/user/trackedaccount', (data, status, xhr) => {

      $('#table-trackedaccounts').bootstrapTable({
        columns: [{
          field: 'steamId',
          title: 'Steam ID'
        }, {
          field: 'vacBanned',
          title: 'VAC'
        }, {
          field: 'numberOfGameBans',
          title: 'Game bans'
        }],
        data: data
      });
    })


  $("#test-dm-btn").click(e => {
    $.ajax({
      url: "/api/user/discord/testDM",
      success: (data, status, xhr) => {
        if (data) {
          alert('Success!')
        } else {
          alert('Error! Please check your settings.')
        }
      },
      error: (xhr, status, error) => {
        console.log(xhr);
        alert('Error! Please report this on the dev server.')
      }
    })
  })

  })

</script>