<%- exposeLocalsToBrowser() %>

<body>
  <div class="container">

    <div class="row">
      <div class="col s4">
        <h1>Dashboard</h1>
      </div>
      <div class="col s4">

      </div>
      <div class="col s4">

        <a href="/setup" class="btn-large waves-effect waves-light blue">
          <i class="fas fa-cogs"></i> Settings</a>

      </div>

    </div>

    <div class="row">

      <div>
        <div id="pie-chart" class="center-chart"></div>
        <div id="bar-chart"></div>
      </div>

    </div>



  </div>
</body>


<script>
  $(document).ready(() => {

    $.get('/api/trackedaccount/stats', {
      userId: window.SAILS_LOCALS.userId
    }).done((data) => {
      drawPieChart(data);
    });

    $.get('/api/trackedaccount/stats/date', {
      userId: window.SAILS_LOCALS.userId
    }).done((data) => {
      drawBarChart(data)
    })


  })

</script>
