<body>
    <div class="container white-text">
        <div class="row">
            <h1>Set up</h1>

        </div>

        <hr>

        <div class="row">

            <div class="col s8">
                <h2>Steam bot</h2>
                <p>To be able to detect who you are playing with, you need to add the steam bot to your friends list.</p>
            </div>

            <div class="col s4">
                <a href="https://steamcommunity.com/profiles/76561198795764006" target="_blank" class="btn-large waves-effect waves-light blue">
                    <i class="fab fa-steam"></i> Bot profile</a>
            </div>

        </div>

        <hr>

        <div class="row">
            <div class="col s8">
                <h2>Enable DMs</h2>
                <p>To make sure the bot can send you a message when you get banned, you need to share atleast one guild with
                    the bot and allow guild members from said guild to DM you.</p>
                    <br>
                    <p>If you are not a administrator of any discord guild, you are very welcome to join the developer server and allow DMs from there. The bot will never leave that guild so it's a pretty foolproof method.</p>
            </div>

            <div class="col s4">
                <a href="https://discordapp.com/api/oauth2/authorize?client_id=441593020442345499&permissions=18432&scope=bot" target="_blank" class="btn-large waves-effect waves-light blue">
                    <i class="fab fa-discord"></i> Add bot to server</a>
            </div>

        </div>

        <hr>

        <div class="row">
            <div class="col s8">
                <h2>Link discord</h2>
                <p>Link your discord profile so we know who to send a message, duh! :D</p>
            </div>

            <div class="col s4">
                <a href="/login/discord" class="btn-large waves-effect waves-light blue">
                    <i class="fab fa-discord"></i> Link profile</a>
            </div>

        </div>
    </div>
</body>


<script>

    $(document).ready(() => {


    })

</script>